@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */


/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;1,700&display=swap');

@layer utilities {
.rainbow {
  background-color: #B70000;
  animation: bgColor 30s infinite;
}

.mono {
  font-family: 'B612 Mono', monospace;
}

@keyframes bgColor {
    10% {
      background-color: #B70000;
    }
    25% {
      background-color: #C98217;
    }
    37.5% {
      background-color: #ECE421;
    }
    50% {
      background-color: #069614;
    }
    62.5% {
      background-color: #061D96;
    }
    80% {
      background-color: #540570;
    }
    100% {
      background-color: #B70000;
    }
  }
}